bin/
obj/
TestResults/
coverage/

node_modules/
dist/
.angular/

.vs/
.vscode/
*.user
*.suo
*.rsuser

src/ElTejido.Api/wwwroot/

/jdocs
/Propuesta_Comercial/
/Propuesta_Comercial
/Propuesta_Comercial/real
/Marca
